# Ignorar archivos y directorios generados por Maven
.mvn/
mvnw
mvnw.cmd
target/

# Ignorar logs y archivos temporales
logs/
*.log
*.swp

# Ignorar archivos generados por IDEs
.idea/
*.iml
.vscode/
*.classpath
*.project
*.settings/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db
